@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css) layer(format);

:root {
    --clr-blue : #1673FD;
}

button.btn {
    color: var(--clr-blue);
    border-color: var(--clr-blue);
}

.person-icon {
    height: 25px;
}

.build-pizza {
    width: 70%;
    display: flex;
    justify-content: left;
    padding-top: 40px;
}

.container.hero {
    min-height: 220px;
    background-image: url("../images/pizza.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container.hero h1 {
    background-color: rgba(255,255,255,0.5);
}

nav.navbar {
    padding: unset;
}